@import '../../assets/styles/page_card';

$padding-size: 16px;


  .chart-content-wrapper {
    display: flex;
    flex-direction: column;
    background-color: gray;
    padding: $padding-size;
    .chart-row {
      display: flex;
      flex-wrap: wrap;
      flex-direction: row;
      justify-content: center;
      .chart-section {
        flex-basis: 50%;
      }
    }
  }

