.wrapper {
  display: flex;
}

mat-card {
  margin: 30px 20px;
  width: 45 vw;
  height: 50vh;
  mat-card-content {
    height: 100%;
    overflow: auto;
  }
}

.chart-wrapper {
  // height: 40%;
  // width: 40%;
}
